body{color: #4e443c;background: #f0efe7 url(img/body.jpg);position: relative;}

h1{font-size: 45px;}
header h3{font-size: 25px;}
h3{font-size: inherit;line-height: inherit; margin: inherit;}
h4{font-size: 18px;color: #f14e32;font-weight: bold;}
h5{color: #0388a6;font-weight: bold;}

a{color: #413932;}
a:hover{color: #f14e32;}

/* Margens */
.mtb0{margin-top: 0;margin-bottom: 0;}

/* Bordas */
.bb1{border-bottom: 1px solid #d8d7cf;}
.bt1{border-top: 1px solid #d8d7cf;}

/* Padding */
.pb15{padding-bottom: 15px;}

/* Float */
.fr{float: right;}

/* Alinhamento */
.center{margin:0 auto;display: block;}

article{background-color: #fcfcfa;border-radius: 5px; border: solid 1px #e2e0d8;}

nav .nav{list-style: none;}
nav .nav li a{font-size: 16px;padding-left: 25px;}
nav .nav ul a{font-size: 13px;line-height: 5px; padding-left: 35px;}
nav .nav>.active>ul {display: block;}
nav .nav .nav {display: none;padding-bottom: 10px;}
nav .nav>.active>a, .nav>.active:hover>a, .nav>.active:focus>a {font-weight: bold;background-color: transparent;}
nav .nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{background-color: inherit; color: #f14e32;}
nav .nav>li>a:hover, .nav>li>a:focus{background-color: transparent;}

.install{background: url(img/setup-sm.png) no-repeat center left;}
.project{background: url(img/projects-sm.png) no-repeat center left;}
.basic{background: url(img/camera-sm.png) no-repeat center left;}
.branch{background: url(img/branch-sm.png) no-repeat center left;}
.sharing{background: url(img/sharing-sm.png) no-repeat center left;}
.inspect{background: url(img/inspection-sm.png) no-repeat center left;}
.debug{background: url(img/debugging-sm.png) no-repeat center left;}
.email{background: url(img/email-sm.png) no-repeat center left;}
.external{background: url(img/external-sm.png) no-repeat center left;}
.administration{background: url(img/admin-sm.png) no-repeat center left;}
.plumbing{background: url(img/plumbing-sm.png) no-repeat center left;}
.patching{background: url(img/patching-sm.png) no-repeat center left;}

footer{font-size: 11px; color: #9a9994;}
.code {background: url("img/code.png") no-repeat;padding-left: 50px;}
